---
title: タイムテーブル
descriptipon: カンファレンスのタイムテーブルについて紹介します。
---

.container
  .pageHeader
    h1.pageHeader_title
      = current_page.data.title
  .schedule
    / .alert.alert-info
    /   | タイムテーブルは一部調整中です 🙏🏻
    /   br
    /   | 時刻や内容に変更が入る可能性があります。ご了承ください。

    h2.schedule_title
      | Day1: 2017/11/06 (火)
    / ul.nav.nav-tabs
    /   li.active
    /     =link_to '10/24 (月)', '#day1', 'data-toggle' => 'tab'
    .tab-content
      .tab-pane.active#day1
        .scheduleTable
          .scheduleTable_line
            .scheduleTable_line_time
              | 09:00 - 10:00
            .scheduleTable_line_session-all.break
              | Registration
          .scheduleTable_line
            .scheduleTable_line_time
              | 10:00 - 10:15
              .scheduleTable_line_time_min
               | 15min
            .scheduleTable_line_session
              - speakers.each do |speaker|
                - if speaker.name == "関 満徳"
                  .scheduleTable_line_speakerIcon
                    = image_tag speaker.profile_image_url, width: '100', height: '100'
                  .scheduleTable_line_descriptions
                    span.scheduleTable_line_theme
                      | [06-01]
                    .scheduleTable_line_title
                      | Welcome Talk
                    .scheduleTable_line_speaker
                      = speaker.name
                      br
                      = speaker.organization
                      =< speaker.title
          .scheduleTable_line
            .scheduleTable_line_time
              | 10:15 - 10:45
              .scheduleTable_line_time_min
               | 30min
            .scheduleTable_line_session
              - speakers.each do |speaker|
                - if speaker.name == "丹野 瑞紀"
                  .scheduleTable_line_speakerIcon
                    = image_tag speaker.profile_image_url, width: '100', height: '100'
                  .scheduleTable_line_descriptions
                    span.scheduleTable_line_theme
                      | [06-02]
                    .scheduleTable_line_title
                      | 基調講演: プロダクトマネージャーとは
                    .scheduleTable_line_speaker
                      = speaker.name
                      br
                      = speaker.organization
                      =< speaker.title
          .scheduleTable_line
            .scheduleTable_line_time
              | 10:45 - 11:00
              .scheduleTable_line_time_min
               | 15min
            .scheduleTable_line_session-all.break
              | Break
          .scheduleTable_line
            .scheduleTable_line_time
              | 11:00 - 11:30
              .scheduleTable_line_time_min
               | 30min
            .scheduleTable_line_session
              - speakers.each do |speaker|
                - if speaker.name == "犬飼 敏貴"
                  .scheduleTable_line_speakerIcon
                    = image_tag speaker.profile_image_url, width: '100', height: '100'
                  .scheduleTable_line_descriptions
                    span.scheduleTable_line_theme
                      | [06-03]
                    .scheduleTable_line_title
                      | FiNCのこれまでの苦悩と今、それとこれから
                    .scheduleTable_line_speaker
                      = speaker.name
                      br
                      = speaker.organization
                      =< speaker.title
          .scheduleTable_line
            .scheduleTable_line_time
              | 11:30 - 11:45
              .scheduleTable_line_time_min
               | 15min
            .scheduleTable_line_session-all.break
              | Break
          .scheduleTable_line
            .scheduleTable_line_time
              | 11:45 - 12:15
              .scheduleTable_line_time_min
               | 30min
            .scheduleTable_line_session
              - speakers.each do |speaker|
                - if speaker.name == "熊谷 亘太郎"
                  .scheduleTable_line_speakerIcon
                    = image_tag speaker.profile_image_url, width: '100', height: '100'
                  .scheduleTable_line_descriptions
                    span.scheduleTable_line_theme
                      | [06-04]
                    .scheduleTable_line_title
                      | 世界で愛されるプロダクトを作ろう
                    .scheduleTable_line_speaker
                      = speaker.name
                      br
                      = speaker.organization
                      =< speaker.title
          .scheduleTable_line
            .scheduleTable_line_time
              | 12:15 - 12:15
              .scheduleTable_line_time_min
               | 10min
            .scheduleTable_line_session-all.break
              | Break
          .scheduleTable_line
            .scheduleTable_line_time
              | 12:25 - 12:55
              .scheduleTable_line_time_min
               | 30min
            .scheduleTable_line_session
              - speakers.each do |speaker|
                - if speaker.name == "荒井 茂太"
                  .scheduleTable_line_speakerIcon
                    = image_tag speaker.profile_image_url, width: '100', height: '100'
                  .scheduleTable_line_descriptions
                    span.scheduleTable_line_theme
                      | [06-05]
                    .scheduleTable_line_title
                      | [対談] 食文化を支えるプロダクトマネージャーの仕事術（仮題）
                    .scheduleTable_line_speaker
                      = speaker.name
                      br
                      = speaker.organization
                      =< speaker.title
          .scheduleTable_line
            .scheduleTable_line_time
              | 12:55 - 13:10
              .scheduleTable_line_time_min
               | 15min
            .scheduleTable_line_session
              - speakers.each do |speaker|
                - if speaker.name == "株式会社アイスタイル"
                  .scheduleTable_line_speakerIcon
                    = image_tag speaker.profile_image_url, width: '100', height: '100'
                  .scheduleTable_line_descriptions
                    span.scheduleTable_line_theme
                      | [06-06]
                    .scheduleTable_line_title
                      | 調整中
                    .scheduleTable_line_speaker
                      = speaker.name
                      br
                      = speaker.organization
                      =< speaker.title
          .scheduleTable_line
            .scheduleTable_line_time
              | 13:10 - 13:25
              .scheduleTable_line_time_min
               | 15min
            .scheduleTable_line_session
              - speakers.each do |speaker|
                - if speaker.name == "グロース・アーキテクチャ＆チームス株式会社"
                  .scheduleTable_line_speakerIcon
                    = image_tag speaker.profile_image_url, width: '100', height: '100'
                  .scheduleTable_line_descriptions
                    span.scheduleTable_line_theme
                      | [06-07]
                    .scheduleTable_line_title
                      | 調整中
                    .scheduleTable_line_speaker
                      = speaker.name
                      br
                      = speaker.organization
                      =< speaker.title
          .scheduleTable_line
            .scheduleTable_line_time
              | 13:25 - 13:40
              .scheduleTable_line_time_min
               | 15min
            .scheduleTable_line_session-all.break
              | Break
          .scheduleTable_line
            .scheduleTable_line_time
              | 13:40 - 14:10
              .scheduleTable_line_time_min
               | 30min
            .scheduleTable_line_session
              - speakers.each do |speaker|
                - if speaker.name == "金田 悠希"
                  .scheduleTable_line_speakerIcon
                    = image_tag speaker.profile_image_url, width: '100', height: '100'
                  .scheduleTable_line_descriptions
                    span.scheduleTable_line_theme
                      | [06-08]
                    .scheduleTable_line_title
                      | ユーザーと両想いになるサービスの作り方
                    .scheduleTable_line_speaker
                      = speaker.name
                      br
                      = speaker.organization
                      =< speaker.title
          .scheduleTable_line
            .scheduleTable_line_time
              | 14:10 - 14:25
              .scheduleTable_line_time_min
               | 15min
            .scheduleTable_line_session-all.break
              | Break
          .scheduleTable_line
            .scheduleTable_line_time
              | 14:25 - 14:55
              .scheduleTable_line_time_min
               | 30min
            .scheduleTable_line_session
              - speakers.each do |speaker|
                - if speaker.name == "長瀬 慶重"
                  .scheduleTable_line_speakerIcon
                    = image_tag speaker.profile_image_url, width: '100', height: '100'
                  .scheduleTable_line_descriptions
                    span.scheduleTable_line_theme
                      | [06-09]
                    .scheduleTable_line_title
                      | インターネットテレビ局「AbemaTV」プロダクトの変遷
                    .scheduleTable_line_speaker
                      = speaker.name
                      br
                      = speaker.organization
                      =< speaker.title
          .scheduleTable_line
            .scheduleTable_line_time
              | 14:55 - 15:10
              .scheduleTable_line_time_min
               | 10min
            .scheduleTable_line_session-all.break
              | Break
          .scheduleTable_line
            .scheduleTable_line_time
              | 15:10 - 15:40
              .scheduleTable_line_time_min
               | 30min
            .scheduleTable_line_session
              - speakers.each do |speaker|
                - if speaker.name == "清水 智雄"
                  .scheduleTable_line_speakerIcon
                    = image_tag speaker.profile_image_url, width: '100', height: '100'
                  .scheduleTable_line_descriptions
                    span.scheduleTable_line_theme
                      | [06-10]
                    .scheduleTable_line_title
                      | 事業ドメインを絞り込むことで磨かれるプロダクトマネジメントの手法
                    .scheduleTable_line_speaker
                      = speaker.name
                      br
                      = speaker.organization
                      =< speaker.title
          .scheduleTable_line
            .scheduleTable_line_time
              | 15:40 - 15:55
              .scheduleTable_line_time_min
               | 15min
            .scheduleTable_line_session-all.break
              | Break
          .scheduleTable_line
            .scheduleTable_line_time
              | 15:55 - 16:25
              .scheduleTable_line_time_min
               | 30min
            .scheduleTable_line_session
              - speakers.each do |speaker|
                - if speaker.name == "金山 裕樹"
                  .scheduleTable_line_speakerIcon
                    = image_tag speaker.profile_image_url, width: '100', height: '100'
                  .scheduleTable_line_descriptions
                    span.scheduleTable_line_theme
                      | [06-11]
                    .scheduleTable_line_title
                      | 愛されるプロダクトマネージャーのプロダクトマネジメント~愛されるためにまずは成果を残す~
                    .scheduleTable_line_speaker
                      = speaker.name
                      br
                      = speaker.organization
                      =< speaker.title
          .scheduleTable_line
            .scheduleTable_line_time
              | 16:25 - 16:40
              .scheduleTable_line_time_min
               | 15min
            .scheduleTable_line_session-all.break
              | Break
          .scheduleTable_line
            .scheduleTable_line_time
              | 16:40 - 17:10
              .scheduleTable_line_time_min
               | 30min
            .scheduleTable_line_session
              - speakers.each do |speaker|
                - if speaker.name == "入江 和孝"
                  .scheduleTable_line_speakerIcon
                    = image_tag speaker.profile_image_url, width: '100', height: '100'
                  .scheduleTable_line_descriptions
                    span.scheduleTable_line_theme
                      | [06-12]
                    .scheduleTable_line_title
                      | LINE開発の舞台裏とProduct Manager(仮)
                    .scheduleTable_line_speaker
                      = speaker.name
                      br
                      = speaker.organization
                      =< speaker.title
          .scheduleTable_line
            .scheduleTable_line_time
              | 17:10 - 16:25
              .scheduleTable_line_time_min
               | 15min
            .scheduleTable_line_session-all.break
              | Break
          .scheduleTable_line
            .scheduleTable_line_time
              | 17:25 - 17:55
              .scheduleTable_line_time_min
               | 30min
            .scheduleTable_line_session
              - speakers.each do |speaker|
                - if speaker.name == "泉 雄介"
                  .scheduleTable_line_speakerIcon
                    = image_tag speaker.profile_image_url, width: '100', height: '100'
                  .scheduleTable_line_descriptions
                    span.scheduleTable_line_theme
                      | [06-13]
                    .scheduleTable_line_title
                      | 調整中
                    .scheduleTable_line_speaker
                      = speaker.name
                      br
                      = speaker.organization
                      =< speaker.title
          .scheduleTable_line
            .scheduleTable_line_time
              | 17:55 - 18:05
              .scheduleTable_line_time_min
               | 30min
            .scheduleTable_line_session
              - speakers.each do |speaker|
                - if speaker.name == "関 満徳"
                  .scheduleTable_line_speakerIcon
                    = image_tag speaker.profile_image_url, width: '100', height: '100'
                  .scheduleTable_line_descriptions
                    span.scheduleTable_line_theme
                      | [06-14]
                    .scheduleTable_line_title
                      | クロージング
                    .scheduleTable_line_speaker
                      = speaker.name
                      br
                      = speaker.organization
                      =< speaker.title
          .scheduleTable_line
            .scheduleTable_line_time
              | 18:05 - 18:30
              .scheduleTable_line_time_min
               | 25min
            .scheduleTable_line_session-all.break
              | 転換
          .scheduleTable_line
            .scheduleTable_line_time
              | 18:30 - 20:00
              .scheduleTable_line_time_min
               | 1.5h
            .scheduleTable_line_session-all.break
              | ネットワーキング
  .schedule
    h2.schedule_title
      | Day2: 2018/11/07 (水)
    .tab-content
      .tab-pane.active#day2
        .scheduleTable
          .scheduleTable_line
            .scheduleTable_line_time
              | 09:20 - 10:00
            .scheduleTable_line_session-all.break
              | Registration
          .scheduleTable_line
            .scheduleTable_line_time
              | 10:00 - 10:15
              .scheduleTable_line_time_min
               | 15min
            .scheduleTable_line_session
              - speakers.each do |speaker|
                - if speaker.name == "関 満徳"
                  .scheduleTable_line_speakerIcon
                    = image_tag speaker.profile_image_url, width: '100', height: '100'
                  .scheduleTable_line_descriptions
                    span.scheduleTable_line_theme
                      | [07-01]
                    .scheduleTable_line_title
                      | Welcome Talk
                    .scheduleTable_line_speaker
                      = speaker.name
                      br
                      = speaker.organization
                      =< speaker.title
          .scheduleTable_line
            .scheduleTable_line_time
              | 10:15 - 10:45
              .scheduleTable_line_time_min
               | 30min
            .scheduleTable_line_session
              - speakers.each do |speaker|
                - if speaker.name == "甲斐 真一郎"
                  .scheduleTable_line_speakerIcon
                    = image_tag speaker.profile_image_url, width: '100', height: '100'
                  .scheduleTable_line_descriptions
                    span.scheduleTable_line_theme
                      | [07-02]
                    .scheduleTable_line_title
                      | 調整中
                    .scheduleTable_line_speaker
                      = speaker.name
                      br
                      = speaker.organization
                      =< speaker.title
          .scheduleTable_line
            .scheduleTable_line_time
              | 10:45 - 11:00
              .scheduleTable_line_time_min
               | 15min
            .scheduleTable_line_session-all.break
              | Break
          .scheduleTable_line
            .scheduleTable_line_time
              | 11:00 - 11:30
              .scheduleTable_line_time_min
               | 30min
            .scheduleTable_line_session
              - speakers.each do |speaker|
                - if speaker.name == "今井 義人"
                  .scheduleTable_line_speakerIcon
                    = image_tag speaker.profile_image_url, width: '100', height: '100'
                  .scheduleTable_line_descriptions
                    span.scheduleTable_line_theme
                      | [07-03]
                    .scheduleTable_line_title
                      | SaaSのプロダクトマネジメント (仮)
                    .scheduleTable_line_speaker
                      = speaker.name
                      br
                      = speaker.organization
                      =< speaker.title
          .scheduleTable_line
            .scheduleTable_line_time
              | 11:30 - 11:45
              .scheduleTable_line_time_min
               | 15min
            .scheduleTable_line_session-all.break
              | Break
          .scheduleTable_line
            .scheduleTable_line_time
              | 11:45 - 12:15
              .scheduleTable_line_time_min
               | 30min
            .scheduleTable_line_session
              - speakers.each do |speaker|
                - if speaker.name == "塩出 晴海"
                  .scheduleTable_line_speakerIcon
                    = image_tag speaker.profile_image_url, width: '100', height: '100'
                  .scheduleTable_line_descriptions
                    span.scheduleTable_line_theme
                      | [07-04]
                    .scheduleTable_line_title
                      | 気がついたらプロダクトマネージャーになっていた（仮）
                    .scheduleTable_line_speaker
                      = speaker.name
                      br
                      = speaker.organization
                      =< speaker.title
          .scheduleTable_line
            .scheduleTable_line_time
              | 12:15 - 12:25
              .scheduleTable_line_time_min
               | 10min
            .scheduleTable_line_session-all.break
              | 弁当配布
          .scheduleTable_line
            .scheduleTable_line_time
              | 12:25 - 12:40
              .scheduleTable_line_time_min
               | 15min
            .scheduleTable_line_session
              - speakers.each do |speaker|
                - if speaker.name == "宮里 裕樹"
                  .scheduleTable_line_speakerIcon
                    = image_tag speaker.profile_image_url, width: '100', height: '100'
                  .scheduleTable_line_descriptions
                    span.scheduleTable_line_theme
                      | [07-05]
                    .scheduleTable_line_title
                      | リクルートの横断組織で考えるプロダクトマネジメント（仮）
                    .scheduleTable_line_speaker
                      = speaker.name
                      br
                      = speaker.organization
                      =< speaker.title
          .scheduleTable_line
            .scheduleTable_line_time
              .scheduleTable_line_time_min
            .scheduleTable_line_session
              - speakers.each do |speaker|
                - if speaker.name == "金田 將吾"
                  .scheduleTable_line_speakerIcon
                    = image_tag speaker.profile_image_url, width: '100', height: '100'
                  .scheduleTable_line_descriptions
                    .scheduleTable_line_speaker
                      = speaker.name
                      br
                      = speaker.organization
                      =< speaker.title
          .scheduleTable_line
            .scheduleTable_line_time
              | 12:40 - 12:55
              .scheduleTable_line_time_min
               | 15min
            .scheduleTable_line_session
              - speakers.each do |speaker|
                - if speaker.name == "山下 徹朗"
                  .scheduleTable_line_speakerIcon
                    = image_tag speaker.profile_image_url, width: '100', height: '100'
                  .scheduleTable_line_descriptions
                    span.scheduleTable_line_theme
                      | [07-06]
                    .scheduleTable_line_title
                      | 調整中
                    .scheduleTable_line_speaker
                      = speaker.name
                      br
                      = speaker.organization
                      =< speaker.title
          .scheduleTable_line
            .scheduleTable_line_time
              | 12:55 - 13:10
              .scheduleTable_line_time_min
               | 15min
            .scheduleTable_line_session
              - speakers.each do |speaker|
                - if speaker.name == "池田 明啓"
                  .scheduleTable_line_speakerIcon
                    = image_tag speaker.profile_image_url, width: '100', height: '100'
                  .scheduleTable_line_descriptions
                    span.scheduleTable_line_theme
                      | [07-07]
                    .scheduleTable_line_title
                      | Build Narrative in Product
                    .scheduleTable_line_speaker
                      = speaker.name
                      br
                      = speaker.organization
                      =< speaker.title
          .scheduleTable_line
            .scheduleTable_line_time
              .scheduleTable_line_time_min
            .scheduleTable_line_session
              - speakers.each do |speaker|
                - if speaker.name == "宮城 良征"
                  .scheduleTable_line_speakerIcon
                    = image_tag speaker.profile_image_url, width: '100', height: '100'
                  .scheduleTable_line_descriptions
                    .scheduleTable_line_title
                    .scheduleTable_line_speaker
                      = speaker.name
                      br
                      = speaker.organization
                      =< speaker.title
          .scheduleTable_line
            .scheduleTable_line_time
              | 13:10 - 13:25
              .scheduleTable_line_time_min
               | 15min
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon
                = image_tag "/assets/images/blank_user.png", width: '100', height: '100'
              .scheduleTable_line_descriptions
                span.scheduleTable_line_theme
                  | [07-08]
                .scheduleTable_line_title
                  | 調整中
                .scheduleTable_line_speaker
                  | 未定
          .scheduleTable_line
            .scheduleTable_line_time
              | 13:25 - 13:40
              .scheduleTable_line_time_min
               | 15min
            .scheduleTable_line_session-all.break
              | Break
          .scheduleTable_line
            .scheduleTable_line_time
              | 13:40 - 14:10
              .scheduleTable_line_time_min
               | 30min
            .scheduleTable_line_session
              - speakers.each do |speaker|
                - if speaker.name == "Jasper WU"
                  .scheduleTable_line_speakerIcon
                    = image_tag speaker.profile_image_url, width: '100', height: '100'
                  .scheduleTable_line_descriptions
                    span.scheduleTable_line_theme
                      | [07-09]
                    .scheduleTable_line_title
                      | The mindset of building the product that user will love
                    .scheduleTable_line_speaker
                      = speaker.name
                      br
                      = speaker.organization
                      =< speaker.title
          .scheduleTable_line
            .scheduleTable_line_time
              | 14:10 - 14:25
              .scheduleTable_line_time_min
               | 15min
            .scheduleTable_line_session-all.break
              | Break
          .scheduleTable_line
            .scheduleTable_line_time
              | 14:25 - 14:55
              .scheduleTable_line_time_min
               | 30min
            .scheduleTable_line_session
              - speakers.each do |speaker|
                - if speaker.name == "宮田 善孝"
                  .scheduleTable_line_speakerIcon
                    = image_tag speaker.profile_image_url, width: '100', height: '100'
                  .scheduleTable_line_descriptions
                    span.scheduleTable_line_theme
                      | [07-10]
                    .scheduleTable_line_title
                      | 北米・アジア・欧州のプロダクトマネジメントとスマートニュースのプロダクトマネジメント
                    .scheduleTable_line_speaker
                      = speaker.name
                      br
                      = speaker.organization
                      =< speaker.title
          .scheduleTable_line
            .scheduleTable_line_time
              | 14:55 - 15:10
              .scheduleTable_line_time_min
               | 10min
            .scheduleTable_line_session-all.break
              | Break
          .scheduleTable_line
            .scheduleTable_line_time
              | 15:10 - 15:40
              .scheduleTable_line_time_min
               | 30min
            .scheduleTable_line_session
              - speakers.each do |speaker|
                - if speaker.name == "陈兆伟 (Chen Zhaowei)"
                  .scheduleTable_line_speakerIcon
                    = image_tag speaker.profile_image_url, width: '100', height: '100'
                  .scheduleTable_line_descriptions
                    span.scheduleTable_line_theme
                      | [07-11]
                    .scheduleTable_line_title
                      | はじめまして。深圳のPMです
                    .scheduleTable_line_speaker
                      = speaker.name
                      br
                      = speaker.organization
                      =< speaker.title
          .scheduleTable_line
            .scheduleTable_line_time
              | 15:40 - 15:55
              .scheduleTable_line_time_min
               | 15min
            .scheduleTable_line_session-all.break
              | Break
          .scheduleTable_line
            .scheduleTable_line_time
              | 15:55 - 16:25
              .scheduleTable_line_time_min
               | 30min
            .scheduleTable_line_session
              - speakers.each do |speaker|
                - if speaker.name == "馬場 光"
                  .scheduleTable_line_speakerIcon
                    = image_tag speaker.profile_image_url, width: '100', height: '100'
                  .scheduleTable_line_descriptions
                    span.scheduleTable_line_theme
                      | [07-12]
                    .scheduleTable_line_title
                      | Anycaにおけるプロダクトマネジメント(仮)
                    .scheduleTable_line_speaker
                      = speaker.name
                      br
                      = speaker.organization
                      =< speaker.title
          .scheduleTable_line
            .scheduleTable_line_time
              | 16:25 - 16:40
              .scheduleTable_line_time_min
               | 15min
            .scheduleTable_line_session-all.break
              | Break
          .scheduleTable_line
            .scheduleTable_line_time
              | 16:40 - 17:40
              .scheduleTable_line_time_min
               | 30min
            .scheduleTable_line_session
              - speakers.each do |speaker|
                - if speaker.name == "馬田 隆明"
                  .scheduleTable_line_speakerIcon
                    = image_tag speaker.profile_image_url, width: '100', height: '100'
                  .scheduleTable_line_descriptions
                    span.scheduleTable_line_theme
                      | [07-13]
                    .scheduleTable_line_title
                      | [ワークショップ] 日本のプロダクトマネージャーは今何をすべきか
                    .scheduleTable_line_speaker
                      = speaker.name
                      br
                      = speaker.organization
                      =< speaker.title
          .scheduleTable_line
            .scheduleTable_line_time
              | 17:40 - 17:50
              .scheduleTable_line_time_min
               | 10min
            .scheduleTable_line_session
              - speakers.each do |speaker|
                - if speaker.name == "関 満徳"
                  .scheduleTable_line_speakerIcon
                    = image_tag speaker.profile_image_url, width: '100', height: '100'
                  .scheduleTable_line_descriptions
                    span.scheduleTable_line_theme
                      | [07-14]
                    .scheduleTable_line_title
                      | クロージング
                    .scheduleTable_line_speaker
                      = speaker.name
                      br
                      = speaker.organization
                      =< speaker.title
          .scheduleTable_line
            .scheduleTable_line_time
              | -
            .scheduleTable_line_session-all.break
              | ※ Day2 は ネットワーキングはありません
              br
              | ※ 公式コミュニティ主催のアフターパーティを開催予定で、現在調整中です
